:root {
  --bg-dark: #1b1b1b;
  --panel: #2a2a2a;
  --panel-light: #3a3a3a;
  --gold: #c9a227;
  --gold-dark: #9f7f1c;
  --danger: #8b1e1e;
  --text: #e6e2d3;
  --main-green: #1e2f22;
}

body {
  margin: 0;
  font-family: "Cinzel", serif;
  background: radial-gradient(circle at top, #1b1b1b, #121212);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.clicker-main {
  margin: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
