.clicker-modal-slides {
  word-wrap: break-word;

}


.clicker-modal-slides input  {
  padding: 8px;
  background-color: var(--bg-dark);
  border-radius: 5px;
  margin-top: 5px;
  letter-spacing: 2px;
}

.clicker-modal-slides button {
  opacity: 0%;
  padding: 8px;
  color: #1fac3d;
  background-color: var(--bg-dark);
  min-width: 100px;
  animation: slowTextShow 1s ease-in forwards 2.5s;
  border: solid 1px #004406;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.clicker-modal-slides button.confirm {
  animation: slowTextShow 1s ease-in forwards;

}

.clicker-modal-slides button:hover {
  filter: brightness(2);
}


.clicker-modal-slide-item {
  padding: 8px;
  opacity: 0%;
  animation: slowTextShow 1s ease-in forwards;
  transition: all 1s;
}

.clicker-modal-dialog {
  /* background-color: darkslategray; */
  background-color: var(--main-green);
  padding: 5px;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.clicker-modal-location {
  /* background-color: darkslategray; */
  background-color: var(--main-green);
  padding: 5px;
  width: 100%;
  margin: unset;
}

.click-modal-slides-location {
  color: var(--gold)
}

.click-modal-slides-queststep {
  color: var(--gold-dark)

}

@keyframes slowTextShow {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes textComesUpFromBottom {
  0% {

  }
  50% {

  }
  100% {

  }
}