.clicker-modal-slides {
  word-wrap: break-word;

}

.clicker-modal-slide-item {
  padding: 8px;
  opacity: 0%;
  animation: slowTextShow 1s ease-in forwards;
  transition: all 1s;
}

.clicker-modal-dialog {
  /* background-color: darkslategray; */
  background-color: var(--main-green);
  padding: 5px;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.clicker-modal-location {
  /* background-color: darkslategray; */
  background-color: var(--main-green);
  padding: 5px;
  width: 100%;
  margin: unset;
}

.click-modal-slides-location {
  color: var(--gold)
}

.click-modal-slides-queststep {
  color: var(--gold-dark)

}

@keyframes slowTextShow {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes textComesUpFromBottom {
  0% {

  }
  50% {

  }
  100% {

  }
}