.nav {
  text-align: left;
  margin-left: 20px;
}

.nav button {
  width: 150px;
}

.logoImg {
  float: left;
}

.logoImg img {
  height: 70px;
}

.logo {
  font-weight: bolder;
  font-size: xx-large;
}